<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Pegawai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-list lines="full">
    <form [formGroup]="updateEmployeeForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">No Handphone</ion-label>
        <ion-input formControlName="mobile" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Gaji</ion-label>
        <ion-input formControlName="salary" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tanggal Bergabung</ion-label>
        <ion-input formControlName="joinDate" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Alamat</ion-label>
        <ion-input formControlName="address" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Keterangan</ion-label>
        <ion-input formControlName="extraInfo" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            <ion-icon name="create-outline"></ion-icon>
            Update Pegawai
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>