<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Pengalaman Kerja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-list lines="full">
    <form [formGroup]="experienceForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Pekerjaan</ion-label>
        <ion-input formControlName="title" type="text" placeholder="Bagian Pekerjaan..." required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input formControlName="company" type="text" placeholder="Nama Perusahaan..." required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Keterangan</ion-label>
        <ion-input formControlName="description" type="text" placeholder="Keterangan ..." required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tahun Awal Bekerja</ion-label>
        <ion-input formControlName="yFirst" type="text" placeholder="2011" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tahun Akhir Bekerja</ion-label>
        <ion-input formControlName="yEnd" type="text" placeholder="2015" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Tambah Pengalaman</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>